.screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  overflow: hidden;
}

.welcome-box {
  text-align: center;
  transition: transform 1.2s ease;
}

.welcome-text {
  font-size: 4rem;
  color: white;
  margin: 0;
  animation: fadeWelcome 1.2s ease;
}

.sub-text {
  color: #ccc;
  font-size: 1.2rem;
  margin-top: 15px;
  opacity: 0;
}

.move-up {
  transform: translateY(-60px);
}

.fade-in {
  animation: showText 1.5s ease forwards;
}

@keyframes fadeWelcome {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes showText {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.home-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}